<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SerialPortWrite" value="0" /><!--Finds the first (lowest) ttyACM device that is a Sinden Lightgun-->
    <add key="SerialPortSecondary" value="" /><!--Value used with PS1/PS2 mod, serial device to send results to-->
    <add key="VideoDevice" value="" /><!--Software will try to detect lightgun camera, but can be overridden here, value like /dev/video0-->
    <add key="CalibrateX" value="" /><!--Override calibration X value, will usually retrieve from lightgun instead-->
    <add key="CalibrateY" value="" />
    <!--The next 4 values can help you with a game/emulator where the shots don't align with the mouse/joystick cursor-->
    <!--Or if the lightgun border is misaligned with game window-->
    <add key="OffsetX" value="0" /><!--Opportunity to override alignment with a plus/minus value-->
    <add key="OffsetY" value="0" />
    <add key="OffsetXRatio" value="01" /><!--Opportunity to override alignment with a multiply/divide value-->
    <add key="OffsetYRatio" value="01" />
    <add key="ColourMatchRGB" value="255,255,255" /><!--Looks for a border matching this RGB color-->
    <add key="ColourMatchRange" value="220" /><!--How strictly it matches above color, lower is stricter-->
    <add key="GangstaSetting" value="2" /><!--Use Lightgun on side, 1 is lefthanded, 2 is righthanded, 0 off-->
    <add key="CameraRes" value="320,240" /><!--Resolution of camera, recommend 640,480 unless device is weak, then 320,240-->
    <add key="OffscreenReload" value="0" /><!--1 to enable offscreen reload, so offscreen becomes another assigned action-->
    <add key="CameraExposureAuto" value="1" /><!--1 Manual Camera Exposure setting, 3 Auto exposure-->
    <!--In general if your tv is a bit dim or a projector, then increase exposure/brightness/contrast-->
    <!--If you have too much noise light in background, reducing exposure/brightness/contrast, may help reduce-->
    <add key="CameraExposure" value="" /><!--Manual Camera Exposure setting, blank=default, 19 very low, 39 low, 79 default, 159 high -->
    <add key="CameraBrightness" value="100" /><!--Default 100, lower 80, higher 120-->
    <add key="CameraContrast" value="50" /><!--Default 50, lower 40, higher 60-->
    <add key="MatchOnlyWherePointing" value="0" /><!--Assumes the rectangle you are pointing at is the target rather than biggest-->
    <!--Enabling the above may help with recognition, if difficult background such as bright window-->
    <add key="ConsoleOutputVerbose0to2" value="0" /><!--Output a bit more logging = 1, output a lot more logging 2-->


    <add key="IAgreeRecoilTermsInLicense" value="1"/><!--Enable recoil system so dpad up toggle works and recoil can be enabled-->
    <add key="EnableRecoil" value="0"/><!--Enabled recoil on start-->
    <!--Enable recoil for these events-->
    <add key="RecoilTrigger" value="1"/>
    <add key="RecoilTriggerOffscreen" value="0"/>
    <add key="RecoilPumpActionOnEvent" value="0"/>
    <add key="RecoilPumpActionOffEvent" value="0"/>
    <add key="RecoilFrontLeft" value="0"/>
    <add key="RecoilFrontRight" value="0"/>
    <add key="RecoilBackLeft" value="0"/>
    <add key="RecoilBackRight" value="0"/>
    
    <add key="RecoilStrength" value="100"/><!--Recoil strength 0-100, is not linear, 100 is max, 30 is an example of a softer recoil-->
    <add key="TriggerRecoilNormalOrRepeat" value="0"/><!--0 equals single shot recoil per trigger, 1 is automatic like a machine gun-->
    <add key="AutoRecoilStrength" value="40"/><!--Strength of the automatic (machine gun) recoil, 80 is strong 40 is medium-->
    <!--Setting below something like 5 and above to 80 means you get a mixed mode of single shot and automatic-->
    <!--So you pull and release the trigger you get a single recoil, hold it down and get automatic-->
    <add key="AutoRecoilStartDelay" value="0"/>

    <!--Below is how fast the automatic recoil fires, something like 13 is medium, 5 is fast, 40 is slow -->
    <!--Combine with AutoRecoilStrength, for example high speed should use lower power and vice versa -->
    <add key="AutoRecoilDelayBetweenPulses" value="13"/>
    
    <add key="EnableCalibration" value="1"/><!--Enable holding DPad left for 3 seconds to enable calibration mode-->
    <add key="AutoSaveCalibrationInLightgun" value="1"/><!--Calibration is stored on the lightgun-->

    <!--The below values are the same as above and apply to Lightgun 2 -->
    <add key="SerialPortWriteP2" value="1" />
    <add key="SerialPortSecondaryP2" value="" />
    <add key="VideoDeviceP2" value="" />
    <add key="CalibrateXP2" value="" />
    <add key="CalibrateYP2" value="" />
    <add key="GangstaSettingP2" value="2" />
    <add key="OffscreenReloadP2" value="0" />
    <add key="CameraExposureAutoP2" value="1" />
    <add key="CameraExposureP2" value="" />
    <add key="CameraBrightnessP2" value="100" />
    <add key="CameraContrastP2" value="50" />

    <add key="IAgreeRecoilTermsInLicenseP2" value="1"/>
    <add key="EnableRecoilP2" value="0"/>
    <add key="RecoilTriggerP2" value="1"/>
    <add key="RecoilTriggerOffscreenP2" value="0"/>
    <add key="RecoilPumpActionOnEventP2" value="0"/>
    <add key="RecoilPumpActionOffEventP2" value="0"/>
    <add key="RecoilFrontLeftP2" value="0"/>
    <add key="RecoilFrontRightP2" value="0"/>
    <add key="RecoilBackLeftP2" value="0"/>
    <add key="RecoilBackRightP2" value="0"/>
    <add key="RecoilStrengthP2" value="100"/>
    <add key="TriggerRecoilNormalOrRepeatP2" value="0"/>
    <add key="AutoRecoilStrengthP2" value="40"/>
    <add key="AutoRecoilStartDelayP2" value="0"/>
    <add key="AutoRecoilDelayBetweenPulsesP2" value="13"/>

    <!--Button assignments for lightgun1 if not in joystick mode -->
    <!--See bottom of config file for assignment values or Linux instructions -->
    <add key="ButtonTrigger" value="1" /><!--Default = 1 = Left Mouse Click -->
    <add key="ButtonPumpAction" value="3" /><!--Default = 3 = Right Mouse Click -->
    <add key="ButtonFrontLeft" value="3" /><!--Default = 3 = Right Mouse Click -->
    <add key="ButtonRearLeft" value="9" /><!--Default = 9 = Keyboard 1 = P1 Start in Mame -->
    <add key="ButtonFrontRight" value="2" /><!--Default = 2 = Middle Mouse Click -->
    <add key="ButtonRearRight" value="13" /><!--Default = 13 = Keyboard 5 = P1 Coin in Mame -->
    <add key="ButtonUp" value="74" /><!--Default = 74 = Keyboard Up -->    
    <add key="ButtonDown" value="75" /><!--Default = 75 = Keyboard Down -->
    <add key="ButtonLeft" value="76" /><!--Default = 76 = Keyboard Left -->   
    <add key="ButtonRight" value="77" /><!--Default = 77 = Keyboard Right -->


    <!--These enable modifiers for the above values such as shift/ctrl/alt, not usually required-->
    <add key="TriggerMod" value="0" />
    <add key="PumpActionMod" value="0" />
    <add key="FrontLeftMod" value="0" />
    <add key="RearLeftMod" value="0" />
    <add key="FrontRightMod" value="0" />
    <add key="RearRightMod" value="0" />
    <add key="UpMod" value="0" />
    <add key="DownMod" value="0" />
    <add key="LeftMod" value="0" />
    <add key="RightMod" value="0" />

    <!--Assign actions for these buttons if lightgun is offscreen-->
    <add key="ButtonTriggerOffscreen" value="3" /><!--Default = 3 = Right Click -->    
    <add key="ButtonPumpActionOffscreen" value="3" />
    <add key="ButtonFrontLeftOffscreen" value="3" />
    <add key="ButtonRearLeftOffscreen" value="9" />
    <add key="ButtonFrontRightOffscreen" value="2" />
    <add key="ButtonRearRightOffscreen" value="13" />
    <add key="ButtonUpOffscreen" value="74" />
    <add key="ButtonDownOffscreen" value="75" />
    <add key="ButtonLeftOffscreen" value="76" />
    <add key="ButtonRightOffscreen" value="77" />

    <add key="TriggerOffscreenMod" value="0" />
    <add key="PumpActionOffscreenMod" value="0" />
    <add key="FrontLeftOffscreenMod" value="0" />
    <add key="RearLeftOffscreenMod" value="0" />
    <add key="FrontRightOffscreenMod" value="0" />
    <add key="RearRightOffscreenMod" value="0" />
    <add key="UpOffscreenMod" value="0" />
    <add key="DownOffscreenMod" value="0" />
    <add key="LeftOffscreenMod" value="0" />
    <add key="RightOffscreenMod" value="0" />

    <!--Button assignments for lightgun1 if in joystick mode -->
    <!--See instructions for assignment values -->
    <!--You can still assign keyboard actions, even if in Joystick mode -->
    <add key="JoystickModeButtonTrigger" value="94" /><!--Default = 94 = Joystick Button 1 -->
    <add key="JoystickModeButtonPumpAction" value="95" />
    <add key="JoystickModeButtonFrontLeft" value="96" />
    <add key="JoystickModeButtonRearLeft" value="98" />
    <add key="JoystickModeButtonFrontRight" value="97" />
    <add key="JoystickModeButtonRearRight" value="99" />
    <add key="JoystickModeButtonUp" value="100" />
    <add key="JoystickModeButtonDown" value="101" />
    <add key="JoystickModeButtonLeft" value="102" />
    <add key="JoystickModeButtonRight" value="103" /><!--Default = 103 = Joystick Button 10 -->

    <!--These enable modifiers for the above values such as shift/ctrl/alt, not usually required-->
    <add key="JoystickModeTriggerMod" value="0" />
    <add key="JoystickModePumpActionMod" value="0" />
    <add key="JoystickModeFrontLeftMod" value="0" />
    <add key="JoystickModeRearLeftMod" value="0" />
    <add key="JoystickModeFrontRightMod" value="0" />
    <add key="JoystickModeRearRightMod" value="0" />
    <add key="JoystickModeUpMod" value="0" />
    <add key="JoystickModeDownMod" value="0" />
    <add key="JoystickModeLeftMod" value="0" />
    <add key="JoystickModeRightMod" value="0" />

    <add key="JoystickModeButtonTriggerOffscreen" value="95" /><!--Default = 95 = Joystick Button 2 (same as pump action) -->
    <add key="JoystickModeButtonPumpActionOffscreen" value="95" />
    <add key="JoystickModeButtonFrontLeftOffscreen" value="96" />
    <add key="JoystickModeButtonRearLeftOffscreen" value="98" />
    <add key="JoystickModeButtonFrontRightOffscreen" value="97" />
    <add key="JoystickModeButtonRearRightOffscreen" value="99" />
    <add key="JoystickModeButtonUpOffscreen" value="100" />
    <add key="JoystickModeButtonDownOffscreen" value="101" />
    <add key="JoystickModeButtonLeftOffscreen" value="102" />
    <add key="JoystickModeButtonRightOffscreen" value="103" />

    <!--These enable modifiers for the above values such as shift/ctrl/alt, not usually required-->
    <add key="JoystickModeTriggerOffscreenMod" value="0" />
    <add key="JoystickModePumpActionOffscreenMod" value="0" />
    <add key="JoystickModeFrontLeftOffscreenMod" value="0" />
    <add key="JoystickModeRearLeftOffscreenMod" value="0" />
    <add key="JoystickModeFrontRightOffscreenMod" value="0" />
    <add key="JoystickModeRearRightOffscreenMod" value="0" />
    <add key="JoystickModeUpOffscreenMod" value="0" />
    <add key="JoystickModeDownOffscreenMod" value="0" />
    <add key="JoystickModeLeftOffscreenMod" value="0" />
    <add key="JoystickModeRightOffscreenMod" value="0" />

    <!--Button assignments for lightgun12 if not in joystick mode -->
    <!--See instructions for assignment values -->
    <add key="ButtonTriggerP2" value="1" /><!--Default = 1 = Left Mouse Click -->
    <add key="ButtonPumpActionP2" value="3" /><!--Default = 3 = Right Mouse Click -->
    <add key="ButtonFrontLeftP2" value="3" /><!--Default = 3 = Right Mouse Click -->
    <add key="ButtonRearLeftP2" value="10" /><!--Default = 10 = Keyboard 2 = P2 Start in Mame -->
    <add key="ButtonFrontRightP2" value="2" /><!--Default = 2 = Middle Mouse Click -->
    <add key="ButtonRearRightP2" value="14" /><!--Default = 14 = Keyboard 6 = P2 Coin in Mame -->
    <add key="ButtonUpP2" value="74" /><!--Default = 74 = Keyboard Up -->
    <add key="ButtonDownP2" value="75" /><!--Default = 75 = Keyboard Down -->
    <add key="ButtonLeftP2" value="76" /><!--Default = 76 = Keyboard Left -->
    <add key="ButtonRightP2" value="77" /><!--Default = 77 = Keyboard Right -->


    <!--These enable modifiers for the above values such as shift/ctrl/alt, not usually required-->
    <add key="TriggerModP2" value="0" />
    <add key="PumpActionModP2" value="0" />
    <add key="FrontLeftModP2" value="0" />
    <add key="RearLeftModP2" value="0" />
    <add key="FrontRightModP2" value="0" />
    <add key="RearRightModP2" value="0" />
    <add key="UpModP2" value="0" />
    <add key="DownModP2" value="0" />
    <add key="LeftModP2" value="0" />
    <add key="RightModP2" value="0" />

    <!--Assign actions for these buttons if lightgun2 is offscreen-->
    <add key="ButtonTriggerOffscreenP2" value="3" /><!--Default = 3 = Right Click -->
    <add key="ButtonPumpActionOffscreenP2" value="3" />
    <add key="ButtonFrontLeftOffscreenP2" value="3" />
    <add key="ButtonRearLeftOffscreenP2" value="10" />
    <add key="ButtonFrontRightOffscreenP2" value="2" />
    <add key="ButtonRearRightOffscreenP2" value="14" />
    <add key="ButtonUpOffscreenP2" value="74" />
    <add key="ButtonDownOffscreenP2" value="75" />
    <add key="ButtonLeftOffscreenP2" value="76" />
    <add key="ButtonRightOffscreenP2" value="77" />

    <add key="TriggerOffscreenModP2" value="0" />
    <add key="PumpActionOffscreenModP2" value="0" />
    <add key="FrontLeftOffscreenModP2" value="0" />
    <add key="RearLeftOffscreenModP2" value="0" />
    <add key="FrontRightOffscreenModP2" value="0" />
    <add key="RearRightOffscreenModP2" value="0" />
    <add key="UpOffscreenModP2" value="0" />
    <add key="DownOffscreenModP2" value="0" />
    <add key="LeftOffscreenModP2" value="0" />
    <add key="RightOffscreenModP2" value="0" />

    <!--Button assignments for lightgun2 if in joystick mode -->
    <!--See instructions for assignment values -->
    <!--You can still assign keyboard actions, even if in Joystick mode -->
    <add key="JoystickModeButtonTriggerP2" value="94" />
    <!--Default = 94 = Joystick Button 1 -->
    <add key="JoystickModeButtonPumpActionP2" value="95" />
    <add key="JoystickModeButtonFrontLeftP2" value="96" />
    <add key="JoystickModeButtonRearLeftP2" value="98" />
    <add key="JoystickModeButtonFrontRightP2" value="97" />
    <add key="JoystickModeButtonRearRightP2" value="99" />
    <add key="JoystickModeButtonUpP2" value="100" />
    <add key="JoystickModeButtonDownP2" value="101" />
    <add key="JoystickModeButtonLeftP2" value="102" />
    <add key="JoystickModeButtonRightP2" value="103" />
    <!--Default = 103 = Joystick Button 10 -->

    <!--These enable modifiers for the above values such as shift/ctrl/alt, not usually required-->
    <add key="JoystickModeTriggerModP2" value="0" />
    <add key="JoystickModePumpActionModP2" value="0" />
    <add key="JoystickModeFrontLeftModP2" value="0" />
    <add key="JoystickModeRearLeftModP2" value="0" />
    <add key="JoystickModeFrontRightModP2" value="0" />
    <add key="JoystickModeRearRightModP2" value="0" />
    <add key="JoystickModeUpModP2" value="0" />
    <add key="JoystickModeDownModP2" value="0" />
    <add key="JoystickModeLeftModP2" value="0" />
    <add key="JoystickModeRightModP2" value="0" />

    <add key="JoystickModeButtonTriggerOffscreenP2" value="95" /><!--Default = 95 = Joystick Button 2 (same as pump action) -->
    <add key="JoystickModeButtonPumpActionOffscreenP2" value="95" />
    <add key="JoystickModeButtonFrontLeftOffscreenP2" value="96" />
    <add key="JoystickModeButtonRearLeftOffscreenP2" value="98" />
    <add key="JoystickModeButtonFrontRightOffscreenP2" value="97" />
    <add key="JoystickModeButtonRearRightOffscreenP2" value="99" />
    <add key="JoystickModeButtonUpOffscreenP2" value="100" />
    <add key="JoystickModeButtonDownOffscreenP2" value="101" />
    <add key="JoystickModeButtonLeftOffscreenP2" value="102" />
    <add key="JoystickModeButtonRightOffscreenP2" value="103" />

    <!--These enable modifiers for the above values such as shift/ctrl/alt, not usually required-->
    <add key="JoystickModeTriggerOffscreenModP2" value="0" />
    <add key="JoystickModePumpActionOffscreenModP2" value="0" />
    <add key="JoystickModeFrontLeftOffscreenModP2" value="0" />
    <add key="JoystickModeRearLeftOffscreenModP2" value="0" />
    <add key="JoystickModeFrontRightOffscreenModP2" value="0" />
    <add key="JoystickModeRearRightOffscreenModP2" value="0" />
    <add key="JoystickModeUpOffscreenModP2" value="0" />
    <add key="JoystickModeDownOffscreenModP2" value="0" />
    <add key="JoystickModeLeftOffscreenModP2" value="0" />
    <add key="JoystickModeRightOffscreenModP2" value="0" />
    <!--
    Assignable Actions
    0 None
    1 MouseLeft
    2 MouseMiddle
    3 MouseRight
    4 PauseMovement
    5 TurboFireMouseLeft
    6 TurboFire/Reload MouseLeft/Right
    7 AltB (enable border on windows)
    8-17 equals keyboard 0-9
    18-43 equals keyboard A-Z
    44-69 equals keyboard a-z (recommended over the above)
    70-73 equals Return/Space/Escape/Tab
    74-77 equals keyboard Up/Down/Left/Right
    78-81 equals +,-.
    82-93 equals F1-F12
    94-113 equals Joystick Button 1 - 20
    -->
  </appSettings>
</configuration>
